/* Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Apply flex */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  background: radial-gradient(
    circle,
    rgb(131, 222, 20) 17%,
    rgb(84, 172, 216) 73%
  );
}
h1{
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
/* Main Container */
.wrapper {
  width: 440px;
  background: linear-gradient(
    0deg,
    rgba(238, 156, 15, 0.608) 20%,
    rgba(238, 105, 22, 0.804) 70%
  );
  padding: 2.5rem;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
}

/* Clock image */
.wrapper img {
  max-width: 100px;
}

/* Time text */
.wrapper h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 2.5rem 0;
}

/* Main content */
.wrapper .content {
  width: 100%;
  justify-content: space-evenly;
}

/* Disable content menu */
.wrapper .content.disable {
  opacity: 0.6;
  pointer-events: none;
}

/* Hour Minute AM/PM section */
.content .column {
  border-radius: 5px;
  border: 1px solid #999;
  width: calc(100% / 3 - 5px);
}

.content .column select {
  outline: none;
  border: none;
  height: 53px;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  padding-left: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
}

/* Set Button */
.wrapper button,
#resumeBtn {
  width: 100%;
  margin-top: 20px;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(19, 125, 13, 0.992);
  padding: 1rem 0;
  cursor: pointer;
}

/* Click effect on button */
.wrapper button:active,
#resumeBtn:active {
  background-color: rgb(174, 52, 52);
  font-size: 1.2rem;
  /* padding: 0.8rem 0; */
}

/* Resume button */
#resumeBtn {
  background-color: rgb(9, 107, 255);
  width: 200px;
}

/* Welcome Back Screen */

.welcomeBack {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgb(86, 145, 224);
  background: radial-gradient(
    circle,
    rgba(86, 145, 224, 1) 17%,
    rgba(0, 117, 255, 1) 73%
  );
  z-index: 10;
  flex-direction: column;
  /* display: none; */
}

.d-none {
  display: none;
}

/* Media queries */
@media screen and (max-width: 500px) {
  .wrapper {
    width: 95vw;
  }

  .welcomeBack {
    font-size: 0.5rem;
  }
}